h1 {
  color: white;
  background-color: darkslategrey; 
  padding: 10px;
  margin-top: 0px;
  text-indent: 2%;
  position: relative;
}

body {
  background-color: darkgreen;
}

.containter{
  position: relative;
}

.left {
  background-color: white;
  width: 45vw;
  height: 600px;
  border: 5px solid black;
  position: absolute;
  left: 0vw;
  text-align: center;
}

.right {
  background-color:white;
  width: 45vw;
  height: 600px;
  border: 5px solid black;
  position:absolute;
  left: 50vw;
  text-align: center;
}

.box1 {
  position: absolute;
  background-color: palevioletred;
  border: 3px solid red;
  box-shadow:darkred;
  width: 100px;
  height: 90%;
  right: 5%;
  top: 5%;
}

.textbox {
  position: absolute;
  font-size: 22px;
  top: 10%;
  width: 25%;
  left: 35%;
}

.box2 {
  position: absolute;
  background-color: #660e3a;
  border: 3px solid red;
  box-shadow: darkred;
  width: 100px;
  height: 90%;
  top: 5%;
  left: 5%;
}