.one {
  width:350px;
  position: relative;
  left:20px;
  border: 2px solid black;
  margin-bottom: 20px;
}

.two {
  width:300px;
  position: relative;
  left:10px;
  border: 2px solid black;
}
.one p{
  background-color: green
}

.two>p{
  background-color: tomato;
}

.two+p{
  background-color: yellow;
}

.one p:before{
  background-color:plum;
  content: 'Added Before--'
}

.one p:after{
  background-color:purple;
  content: '--Added After'
}